<MailerConfig>
  <add key="SMTPHost" value="smtp.gmail.com" />
  <add key="SMTPPort" value="587" />
  <add key="DefaultMailSenderAddr" value="rasel.noo@gmail.com" />
  <add key="DefaultMailSenderDisplayName" value="Sample Name" />
  <add key="DefaultMailSenderPass" value="**********" />
  <add key="MailerSSL" value="False" />

  <add key="MailSubject" value="PRIME-Bank"/>

  <add key="MailSenderGreeting"
   value="Dear {0},&lt;br/&gt;&lt;br/&gt;"/>
  <add key="MailReceiverGreeting"
   value="Dear Sir/Madam,&lt;br/&gt;&lt;br/&gt;"/>


  <add key="MailSenderOutSettleBB_1"
		 value="Your request of RTGS Payment Transaction has been settled from Prime Bank for onward credit as per below details:&lt;br/&gt;&lt;br/&gt;"/>
  <add key="MailSenderOutSettleBB_2"
       value="&lt;table&gt; 
					        &lt;tr&gt;
						         &lt;td&gt;Transaction ID: &lt;/td&gt;
						         &lt;td&gt;{0}&lt;/td&gt;
					        &lt;/tr&gt;
					        &lt;tr&gt;
						         &lt;td&gt;Beneficiary Bank: &lt;/td&gt;
						         &lt;td&gt;{1}&lt;/td&gt;
					        &lt;/tr&gt;
                  &lt;tr&gt;
						         &lt;td&gt;Beneficiary Bank Branch: &lt;/td&gt;
						         &lt;td&gt;{2}&lt;/td&gt;
					        &lt;/tr&gt;
                  &lt;tr&gt;
						         &lt;td&gt;Beneficiary Name: &lt;/td&gt;
						         &lt;td&gt;{3}&lt;/td&gt;
					        &lt;/tr&gt;
                  &lt;tr&gt;
						         &lt;td&gt;Beneficiary Account Number: &lt;/td&gt;
						         &lt;td&gt;{4}&lt;/td&gt;
					        &lt;/tr&gt;
                  &lt;tr&gt;
						         &lt;td&gt;Transaction Reference: &lt;/td&gt;
						         &lt;td&gt;{5}&lt;/td&gt;
					        &lt;/tr&gt;
				        &lt;/table&gt;"/>



  <add key="MailSenderInCredit_1"
		 value="Your account number {0} has been credited through RTGS as per below details:&lt;br/&gt;&lt;br/&gt;"/>
  <add key="MailSenderInCredit_2"
       value="&lt;table&gt; 
					        &lt;tr&gt;
						         &lt;td&gt;Transaction ID: &lt;/td&gt;
						         &lt;td&gt;{0}&lt;/td&gt;
					        &lt;/tr&gt;
					        &lt;tr&gt;
						         &lt;td&gt;Instruction Receiving Bank: &lt;/td&gt;
						         &lt;td&gt;{1}&lt;/td&gt;
					        &lt;/tr&gt;
                  &lt;tr&gt;
						         &lt;td&gt;Instruction Receiving Bank Branch: &lt;/td&gt;
						         &lt;td&gt;{2}&lt;/td&gt;
					        &lt;/tr&gt;
                  &lt;tr&gt;
						         &lt;td&gt;Instruction Receiver Name: &lt;/td&gt;
						         &lt;td&gt;{3}&lt;/td&gt;
					        &lt;/tr&gt;
                  &lt;tr&gt;
						         &lt;td&gt;Instruction Receiving Account Number: &lt;/td&gt;
						         &lt;td&gt;{4}&lt;/td&gt;
					        &lt;/tr&gt;
                  &lt;tr&gt;
						         &lt;td&gt;Transaction Reference: &lt;/td&gt;
						         &lt;td&gt;{5}&lt;/td&gt;
					        &lt;/tr&gt;
				        &lt;/table&gt;"/>


  <add key="MailSenderInRetCredit_1"
		 value="Your request of RTGS Payment Transaction has been returned by the Receiving Bank and your account number {0} has been credited as per below details:&lt;br/&gt;&lt;br/&gt;"/>
  <add key="MailSenderInRetCredit_2"
       value="&lt;table&gt; 
					        &lt;tr&gt;
						         &lt;td&gt;Transaction ID: &lt;/td&gt;
						         &lt;td&gt;{0}&lt;/td&gt;
					        &lt;/tr&gt;
					        &lt;tr&gt;
						         &lt;td&gt;Instruction Receiving Bank: &lt;/td&gt;
						         &lt;td&gt;{1}&lt;/td&gt;
					        &lt;/tr&gt;
                  &lt;tr&gt;
						         &lt;td&gt;Instruction Receiving Bank Branch: &lt;/td&gt;
						         &lt;td&gt;{2}&lt;/td&gt;
					        &lt;/tr&gt;
                  &lt;tr&gt;
						         &lt;td&gt;Instruction Receiver Name: &lt;/td&gt;
						         &lt;td&gt;{3}&lt;/td&gt;
					        &lt;/tr&gt;
                  &lt;tr&gt;
						         &lt;td&gt;Instruction Receiving Account Number: &lt;/td&gt;
						         &lt;td&gt;{4}&lt;/td&gt;
					        &lt;/tr&gt;
                  &lt;tr&gt;
						         &lt;td&gt;Transaction Reference: &lt;/td&gt;
						         &lt;td&gt;{5}&lt;/td&gt;
					        &lt;/tr&gt;
				        &lt;/table&gt;"/>



  <add key="MailReceiverOutSettleBB_1"
		 value="A RTGS Transaction has been settled from Prime Bank for onward credit to your account as per below details:&lt;br/&gt;&lt;br/&gt;"/>
  <add key="MailReceiverOutSettleBB_2"
       value="&lt;table&gt; 
					        &lt;tr&gt;
						         &lt;td&gt;Transaction ID: &lt;/td&gt;
						         &lt;td&gt;{0}&lt;/td&gt;
					        &lt;/tr&gt;
                  &lt;tr&gt;
						         &lt;td&gt;Originator: &lt;/td&gt;
						         &lt;td&gt;{1}&lt;/td&gt;
					        &lt;/tr&gt;
					        &lt;tr&gt;
						         &lt;td&gt;Beneficiary Bank: &lt;/td&gt;
						         &lt;td&gt;{2}&lt;/td&gt;
					        &lt;/tr&gt;
                  &lt;tr&gt;
						         &lt;td&gt;Beneficiary Bank Branch: &lt;/td&gt;
						         &lt;td&gt;{3}&lt;/td&gt;
					        &lt;/tr&gt;
                  &lt;tr&gt;
						         &lt;td&gt;Beneficiary Name: &lt;/td&gt;
						         &lt;td&gt;{4}&lt;/td&gt;
					        &lt;/tr&gt;
                  &lt;tr&gt;
						         &lt;td&gt;Beneficiary Account Number: &lt;/td&gt;
						         &lt;td&gt;{5}&lt;/td&gt;
					        &lt;/tr&gt;
                  &lt;tr&gt;
						         &lt;td&gt;Transaction Reference: &lt;/td&gt;
						         &lt;td&gt;{6}&lt;/td&gt;
					        &lt;/tr&gt;
				        &lt;/table&gt;"/>


  <add key="MailSenderFooter"
       value="&lt;br/&gt;&lt;br/&gt;Thank you for banking with Prime Bank.&lt;br/&gt;&lt;br/&gt;Best regards,&lt;br/&gt;Prime Bank Limited&lt;br/&gt;www.primebank.com.bd"/>
  <add key="MailReceiverFooter"
       value="&lt;br/&gt;&lt;br/&gt;For more information of our products and services, please visit our website: www.primebank.com.bd&lt;br/&gt;&lt;br/&gt;Best regards,&lt;br/&gt;Prime Bank Limited"/>
</MailerConfig>
