<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RtgsWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="EFT_Proj.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="MailerConfig" type="System.Configuration.NameValueFileSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>

  <MailerConfig configSource="MailSettings.config">
  </MailerConfig>
  
  <connectionStrings>
    <add name="EFT_NewEntities" connectionString="metadata=res://*/DAL.EFTModel.EFTModel.csdl|res://*/DAL.EFTModel.EFTModel.ssdl|res://*/DAL.EFTModel.EFTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.225.158;Initial Catalog=RTGS_DB;Persist Security Info=True;User ID=sa;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="BeftnEntities" connectionString="metadata=res://*/DAL.BachModel.BeftnModel.csdl|res://*/DAL.BachModel.BeftnModel.ssdl|res://*/DAL.BachModel.BeftnModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.225.158;initial catalog=EFT_SBACB;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--<sessionState timeout="1"></sessionState>-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <pages clientIDMode="Static" controlRenderingCompatibilityVersion="4.0"/>
    <compilation targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>-->
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <!--<httpRuntime  maxRequestLength="1024" />-->
  </system.web>
  <system.webServer>
    
    <!--<security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1024" />
      </requestFiltering>
    </security>-->
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <!--<add name="NewOutward" verb="POST" path="/httpapi/NewOutward" type="RtgsWeb.Outward.OutwardItemHandler, RtgsWeb, Version=1.0.0.0, Culture=neutral" />-->

    </handlers>
  </system.webServer>
  <appSettings>
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="OwnBankName" value="BASIC Bank Ltd."/>
    <add key="OwnBankCode" value="170"/>
    <add key="BB" value="025"/>
    <add key="OutwardPath" value="E:\projects\RTGS\RtgsWeb\file\Outward"/>
    <add key="TempFolder" value="E:\projects\RTGS\RtgsWeb\file\Temp"/>
    <add key="ReportRdlcPath" value=""/>
    <add key="XmlChargeBearer" value="SHAR"/>
    <add key="T_GetAcUrl" value="http://localhost:35803/test"/>
    <add key="T_FTUrl" value="http://localhost:35803/test"/>
    <!--<add key="T_GetAcUrl"       value="http://localhost:8084/tb/auth/vr.html" />-->
    <!--<add key="T_FTUrl"          value="http://localhost:8084/tb/auth/ft.html" />-->
    <add key="T_LoginId" value="altitude"/>
    <add key="T_Password" value="altitude"/>
    <!--<add key="T_RssGetAc" value="GLOBUS123"/>
    <add key="T_RssI" value="GLOBUS123"/>
    <add key="T_RssA" value="GLOBUS1234"/>
    <add key="T_RssR" value="GLOBUS123"/>
    <add key="T_RssD" value="GLOBUS123"/>-->
    <add key="T_FtVersionZero" value="RTGS"/>
    <add key="T_FtVersionAuth" value="RTGS.AUTH"/>
    <add key="T_FtTxType" value="ACRG"/>
    <add key="T_FtSuccess" value="1"/>
    <add key="T_ErrorToken" value="BRIDGE_ERROR"/>
    <add key="T_ErrorParser" value=":"/>
    <add key="T_HOParkingAcc" value="1230000012345\BNK:BDT,1230000012366:USD,1230000012399:EUR"/>
    <add key="T_BranchId" value="BD0010001"/>
    <add key="T_LogResponse" value="1"/>
    <add key="T_ChargeCode" value="DEBIT PLUS CHARGES"/>
    <add key="T_ChargeCodeWaive" value="WAIVE"/>
    <add key="T_ChargeType" value="CHGRTGS"/>

    <add key="SignMessage" value="False"/>
    <add key="CbsName" value="T24"/>
    <!--blank to ignore -->
    <add key="B_UserName" value="TACPS"/>
    <add key="B_Password" value="pass"/>
    <add key="FtpOn" value="0"/>
    <add key="FtpInfo" value="ftp://192.168.225.16/;rashed;321"/>
    <add key="InLocal" value="D:\projects\RTGS\RtgsWeb\file\Inward"/>
    <add key="InFtp" value="Inward/Test"/>
    <add key="OutFtp" value="Outward/Test"/>
    <add key="InFtpComplete" value="Complete"/>
    <add key="OutLocalComplete" value="Complete"/>
    <!--<add key="SmsIn" value="Dear Sir/Madam, {0}{1} has been credited in your a/c {2} through BD-RTGS. Prime Bank Ltd."/>-->
    <add key="SmsIn" value="Dear Customer, {0}{1} has been credited in a/c {2} on {3} through BD-RTGS. Your current balance is {4}"/>

    <add key="ApiName" value="988b75c1f98644f862d2aa125e9223ea"/>
    <add key="ApiPass" value="9a44d69c7ad2a9395bdd7d4fbf6fdd2d"/>
    <add key="ApiCheckerName" value="t_checker"/>
    <add key="ShowBachSummary" value="False"/>

    <!--<add key ="StarTime" value="09"/>
    <add key ="EndTime" value="16"/>-->

    <add key="ImgTempFolder" value="Temp"/>
    <add key="OutwardBalanceCheck" value="false"/>
    
    <add key="CheckHoliday" value="False"/>
    <add key="TimeBasedAccess" value="False"/>

    <add key="ReportPage" value="/Report.aspx"/>
    
    <add key="WrongPasswordCount" value="2"/>  <!-- 0=don't lock  -->
    <add key="CurrencyLimit" value="BDT:100000;USD:0.01"/>
    <!--<add key="ADServer" value="1.1.1.1:389" />
    <add key="ADDomain" value="primebank.com.bd" />-->
    
    <add key="StpLogParsingOutput" value="D:\projects\RTGS\RtgsFileProcessor\bin\Release\temp.txt"/>

    <add key="ConfigureSenderMailer" value="True" />
    <add key="ConfigureReceiverMailer" value="True" />

    <!--blank to ignore sending-->
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <RtgsWeb.Properties.Settings>
      <setting name="RtgsWeb_WebReferenceNew_Service1" serializeAs="String">
        <value>http://192.168.102.6/RTGS/Service1.asmx</value>
      </setting>
    </RtgsWeb.Properties.Settings>
  </applicationSettings>
</configuration>